@using VLV2014Test.Models
@using BinaryStarTechnology.CharityEventRevenueMgmtClasses
@model WebPageItem
<li data-srcpreview="@Model.pictureLink1.Image">
    <div>
        <div class="content">
            @if(Model != null && Model.pictureLink2 != null && Model.pictureLink2.Image != null)
            {
                <img src="@Model.pictureLink2.Image" alt="">
            }
            else
            {
                <span></span>
            }
            <h3>@Html.Raw(Model.header)</h3>
            <p>@Html.Raw(Model.hLine1)</p>
            <p>@Html.Raw(Model.hLine2)</p>
            <ul>
                <li><span>@Html.Raw(Model.lLine1)</span></li>
                <li><span>@Html.Raw(Model.lLine2)</span></li>
                <li><span>@Html.Raw(Model.lLine3)</span></li>
                <li><span>@Html.Raw(Model.lLine4)</span></li>
                <li><span>@Html.Raw(Model.lLine5)</span></li>
            </ul>
            <div class="alright"><!-- <a href="#" class="btn">Read More</a> --></div>
        </div>
    </div>
</li>

