@using VLV2014Test.Models
@model VLV2014Test.Models.TabSectionView
<li data-srcpreview="@Model.pictureLink1">
    <div>
        <div class="content">
            <img src="@Model.pictureLink2" alt="">
            <h3>@Model.header</h3>
            <p>@Model.hLine1</p>
            <p>@Model.hLine2</p>
            <ul>
                <li><span>@Model.lLine1</span></li>
                <li><span>@Model.lLine2</span></li>
                <li><span>@Model.lLine3</span></li>
                <li><span>@Model.lLine4</span></li>
                <li><span>@Model.lLine5</span></li>
            </ul>
            <div class="alright"><!-- <a href="#" class="btn">Read More</a> --></div>
        </div>
    </div>
</li>

