@using BinaryStarTechnology.CharityEventRevenueMgmtClasses
@model BinaryStarTechnology.CharityEventRevenueMgmtClasses.EventActivities

<div id="TMGPrototype2">
    <div class="ic"></div>
    <h1><a href="index.cshtml"><img src="../images/VivaLaVinoSmaller.jpg" alt="@Model.EventID.EventName"></a></h1>
    <ul class='sets'>
        <li data-setname="@Model.EventID.EventName">
            <ul>
                <li data-srcpreview="../images/red1.jpg">
                    <div>
                        <div class="content">
                            <img src="../images/Fun People at Viva La Vino Troy 1.jpg" alt="">
                            <h3>@Model.EventID.EventName</h3>
                            <p></p>
                            <p></p>
                            <table>
                                <tbody>
                                    @{
                                        DateTime lastTime = DateTime.Now.AddYears(-2);
                                        bool firstPass = true;
                                        if ( Model == null || Model.Count <= 0)
                                        {
                                            <tr><td style="font-weight:bold;font-size:16pt">Event Schedule is not available at this time</td></tr>
                                        }
                                        else
                                        {
                                            lastTime = Model[0].TimeOfActivity.AddMinutes(-1);
                                            foreach (EventActivity act in Model)
                                            {
                                                if (act.TimeOfActivity != lastTime && firstPass == false)
                                                {
                                                    <tr style="font-size:6pt"><td colspan="2">&nbsp;</td></tr>
                                                }
                                                firstPass = false;

                                                <tr style="font-weight:bold;font-size:10pt;color:black">
                                                    @if (act.TimeOfActivity != lastTime)
                                                    {
                                                        lastTime = act.TimeOfActivity;
                                                        <td style="text-align:right;font-size:9pt">@act.TimeOfActivity.ToShortTimeString()</td>
                                                    }
                                                    else
                                                    {
                                                        <td>&nbsp;</td>
                                                    }
                                                    <td>&nbsp;</td>
                                                    <td>@act.ActivityDetail</td>
                                                </tr>
                                            }
                                        }
                                    }
                                </tbody>
                            </table>
                            <div class="alright"><!-- <a href="#" class="btn">Read More</a> --></div>
                        </div>
                    </div>
                </li>
            </ul>
        </li>
        <li data-setname="Ticket(s)">
            <ul>
                <li>
                    <div class="content">
                        <h3>
                            @Html.ActionLink("Click Here to Purchase Ticket(s)", "PurchaseTicket", "Home")
                        </h3>
                    </div>
                </li>
            </ul>
        </li>
    </ul>
</div>

@section Scripts
{
    <script>
        $(window).load(function () {
            $('#TMGPrototype2').TMGPrototype2({});
        });
    </script>
}