@using BinaryStarTechnology.CharityEventRevenueMgmtClasses
@using VLV2014Test.Models
@model Event
@{
    string a = Model.EventLogo.Image;
    MenuItems menuItems = VLV2014Test.Controllers.HomeController.menuItems;
}
<div id="TMGPrototype2">
    <div class="ic">
        <h1>
            <p><a href="@Model.EventLogo.Link"><img src="@Model.EventLogo.Image" alt="@Model.EventName"/></a></p>
        </h1>
    </div>
    <ul class='sets'>
        <li data-setname="@Model.EventName">
            <ul>
                @{ 
                    string href = "<a href=\"" + Model.MapLink + "\" target=\"_blank\">" + Model.EventLocation + " (Click here for map)</a>";
                    TabSectionView sec1 = new TabSectionView("../images/dreamstime_s_1890011.jpg", "../images/Happy faces of Viva La Vino.JPG", "Wine Tasting Fund Raiser", "", "","", Model.EventDate.ToString("MMM dd, yyyy"), "6:30 PM - 10:30 PM", "", href, "A Fun Evening of Great Wine, Good Food and Fantastic People!", "");
                 }
                @{Html.RenderPartial("ULsection", sec1);}
                @{
                    sec1 = new TabSectionView("../images/dreamstime_s_1890011.jpg",  // pictureLink1
                                                "../images/Foods and Wine.png",     // pictureLink2
                                                "",
                                                "", 
                                                "",
                                                "",
                                                "------",
                                                "Food! Enjoy fabulous cuisine from Jim Kokas’s legendary Opus One restaurant, now a catering company.", // header
                                                "",
                                                "",
                                                "",
                                                "");
                }
                @{Html.RenderPartial("ULsection", sec1);}
                @{
                    sec1 = new TabSectionView("../images/dreamstime_s_1890011.jpg",  // pictureLink1
                                                "../images/Fun People at Viva La Vino Troy.jpg",     // pictureLink2
                                                "",
                                                "",
                                                "",
                                                "",
                                                "------",
                                                "Fun! Mingle with hundreds of community leaders, business professionals, and even a few local celebrities.", // header
                                                "",
                                                "",
                                                "",
                                                "");
                }
                @{Html.RenderPartial("ULsection", sec1);}
                @{
                    sec1 = new TabSectionView("../images/dreamstime_s_1890011.jpg",  // pictureLink1
                                                "../images/rotary emblem.GIF",     // pictureLink2
                                                "",
                                                "",
                                                "",
                                                "",
                                                "------",
                                                "Fundraising! Help us raise money for Troy Rotary’s local charitable causes, including The Boys & Girls Club, Hope Warming Center, and the Homeless Vets.", // header
                                                "",
                                                "",
                                                "",
                                                "");
                }
                @{Html.RenderPartial("ULsection", sec1);}
                @{
                    sec1 = new TabSectionView("../images/dreamstime_s_1890011.jpg",  // pictureLink1
                                                "../images/Networking for Good at Troy Rotary.jpg",     // pictureLink2
                                                "",
                                                "",
                                                "",
                                                "",
                                                "------",
                                                "Join Troy Rotary for lunch! We meet at Noon every Wednesday at Bank of America, 2600 W. Big Beaver Rd. (next to Somerset North) in Troy.  Enjoy a great speaker and make new friends.  Lunch is only $13.", // header
                                                "",
                                                "",
                                                "",
                                                "");
                }
                @{Html.RenderPartial("ULsection", sec1);}
            </ul>
        </li>
        <li data-setname="Ticket(s)" >
            <ul>
                <li>
                    <div class="content">
                            <h3>
                                @Html.ActionLink("Click Here to Purchase Ticket(s)", "PurchaseTicket", "Home")
                            </h3>
                    </div>
                </li>
            </ul>
        </li>
     </ul>
</div>

@section TopTabs
{
    @{Html.RenderPartial("MenuLine", menuItems);}
}

@section Scripts
{
<script>
    $(window).load(function () {
        $('#TMGPrototype2').TMGPrototype2({});
    });
</script>
}