@using BinaryStarTechnology.CharityEventRevenueMgmtClasses
@using VLV2014Test.Models
@model BinaryStarTechnology.CharityEventRevenueMgmtClasses.Sponsors
@{
    ViewBag.Title = "Sponsors";
    string link=null;
}

<div id="TMGPrototype2">
    <div class="ic"></div>
    <h1><a href="index.cshtml"><img src="../images/VivaLaVinoSmaller.jpg" alt="Viva La Vino 2014"></a></h1>
    <ul class='sets'>
        <li data-setname="Sponsors">
            <ul>
                @if (Model == null || Model.Count <= 0)
                {
                    <li data-srcpreview="../images/red1.jpg">
                        <div>
                            <div class="content">
                                <img src="../images/red_wine.jpg" alt="">
                                <h3>Sponsors</h3>
                                <p></p>
                                <p>To be updated</p>
                                <ul></ul>
                                <div class="alright"><!-- <a href="#" class="btn">Read More</a> --></div>
                            </div>
                        </div>
                    </li>
                }
                else
                {
                    foreach (Sponsor sponsor in Model)
                    {
                        <li data-srcpreview="../images/red1.jpg">
                            <div>
                                <div class="content">
                                    @if(sponsor.SponsorImage != null && sponsor.SponsorImage.Image != null)
                                    {
                                        link = sponsor.SponsorImage.Link;
                                        
                                        <img src="@sponsor.SponsorImage.Image" alt="">
                                    }
                                    else
                                    {
                                        link = "";
                                        
                                        <img src="../images/Image_Not_Available.jpg" alt="">
                                    }
                                    <p>&nbsp;</p>
                                    <h3>@sponsor.SponsorLevel Level Sponsor</h3>
                                    <p style="font-weight:bold;font-size:16pt">@sponsor.SponsorName</p>
                                    <p>@sponsor.SponsorSecondLine</p>
                                    <p style="font-size:12pt"><a href="@link"  >Website</a></p>
                                    <ul></ul>
                                    <div class="alright"><!-- <a href="#" class="btn">Read More</a> --></div>
                                </div>
                            </div>
                        </li>
                    }
                }
            </ul>
        </li>
        <li data-setname="Forms">
            <ul>
                <li>
                    <div class="content">
                        <h3>
                            <span style="text-decoration:underline">@Html.ActionLink("Click Here to Download Sponsor Form", "SponsorForm")</span>
                        </h3>
                    </div>
                </li>
            </ul>
        </li>
    </ul>
</div>

@section Scripts
{
    <script>
        $(window).load(function () {
            $('#TMGPrototype2').TMGPrototype2({});
        });
    </script>
}
